; {{ ansible_managed }}
;
; BIND data file for local loopback interface
;
$TTL 604800
@   IN    SOA  localhost. root.localhost.  (

		2022111103		; Serial
		5m				; Refresh after 5 minutes
		1m				; Retry after 1 mimnute
		1w				; Expire after 1 week
		1h )			; Negative caching TTL of 1 hour
;
@	IN	NS	ns01.basecamp.nemon.
@	IN	A	192.168.10.41
@	IN	AAAA	::1