// {{ ansible_managed }}
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

{% for dns_zone in dns_zones  %}

zone "{{ dns_zone.name }}" {
	type {{ type }};

{% if dns_role == "boss" %}

    file "/etc/bind/{{ dns_zone.file }}";
    allow-transfer { {{ ip_minion }}; };        
	  also-notify { {{ ip_minion }}; };
{% endif %}
{% if dns_role == "minion" %}  
    file "/etc/bind/{{ dns_zone.file }}";
    masters { {{ ip_boss }}; }; 
{% endif%}
};

{% endfor %}

zone "rpz" {
  type master;
  file "/etc/bind/db.rpz";
  allow-transfer { {{ ip_minion }}; };        
  also-notify { {{ ip_minion }}; };
#  notify yes;
};